<launch>

  <arg name="gui" default="true"/>
	
  <param name="/use_sim_time" value="true" />

  <!-- start empty world -->
  <node name="empty_world_server" pkg="gazebo" type="debug" args="-u $(find gazebo_worlds)/worlds/empty.world" respawn="false" output="screen"/>

  <!-- start gui -->
  <group if="$(arg gui)">
    <node name="gazebo_gui" pkg="gazebo" type="gui" respawn="false" output="screen"/>
  </group>

  <include file="$(find pr2_gazebo)/pr2.launch"/>

  <!-- -J r_upper_arm_roll_joint -1.64 -J r_shoulder_pan_joint -2.135 -J r_shoulder_lift_joint -0.02 -J r_forearm_roll_joint -1.64 -J r_elbow_flex_joint -2.07 -J r_wrist_flex_joint -1.68 -J r_wrist_roll_joint 1.40 --> 
  <!--include file="$(find pr2_controller_configuration_gazebo)/pr2_default_controllers.launch" /-->

  <!-- spawn table and tabletop object-->
  <param name="table_description" textfile="$(find slider_gui)/urdf/table.urdf" />
  <node name="spawn_table" pkg="gazebo" type="spawn_model" args="-urdf -param table_description -x 0.575 -model table_1" 
   respawn="false" output="screen" />

  <node name="spawn_box1" pkg="gazebo" type="spawn_model" args="-urdf -file $(find pr2_gazebo)/urdf/cube_yellow.urdf -wait table_1 -model cube_red_1 -x 0.54 -y -0.15 -z 0.431" respawn="false" output="screen" />

  <node name="spawn_cyl1" pkg="gazebo" type="spawn_model" args="-urdf -file $(find slider_gui)/urdf/cylinder_blue.urdf -wait table_1 -model cylinder_blue_1 -x 0.54 -y -0.05 -z 0.431" respawn="false" output="screen" />

  <node name="spawn_rec2" pkg="gazebo" type="spawn_model" args="-urdf -file $(find slider_gui)/urdf/rectangular2_green.urdf -wait table_1 -model rectangular2_green_1 -x 0.54 -y 0.05 -z 0.431" respawn="false" output="screen" />

  <node name="spawn_rec1" pkg="gazebo" type="spawn_model" args="-urdf -file $(find slider_gui)/urdf/rectangular_red.urdf -wait table_1 -model rectangular_red_1 -x 0.54 -y 0.15 -z 0.431" respawn="false" output="screen" />

<!--
  <node name="spawn_box2" pkg="gazebo" type="spawn_model" args="-urdf -file $(find pr2_gazebo)/urdf/cube_blue.urdf -wait cube_red_1 -model cube_blue_1 -x 0.6 -z 0.461" respawn="false" output="screen" />
  <node name="spawn_box3" pkg="gazebo" type="spawn_model" args="-urdf -file $(find pr2_gazebo)/urdf/cube_yellow.urdf -wait cube_blue_1 -model cube_yellow_1 -x 0.6 -z 0.491" respawn="false" output="screen" />
  <node name="spawn_box4" pkg="gazebo" type="spawn_model" args="-urdf -file $(find pr2_gazebo)/urdf/cube_green.urdf -wait cube_yellow_1 -model cube_green_1 -x 0.6 -z 0.521" respawn="false" output="screen" />
  <node name="spawn_cyl2" pkg="gazebo" type="spawn_model" args="-urdf -file $(find slider_gui)/urdf/cylinder_blue.urdf -wait cylinder_red_1 -model cylinder_blue_1 -x 0.7 -y -0.05 -z 0.49" respawn="false" output="screen" />
  <node name="spawn_cyl3" pkg="gazebo" type="spawn_model" args="-urdf -file $(find slider_gui)/urdf/cylinder_yellow.urdf -wait cylinder_blue_1 -model cylinder_yellow_1 -x 0.7 -y -0.05 -z 0.55" respawn="false" output="screen" />
  <node name="spawn_cyl4" pkg="gazebo" type="spawn_model" args="-urdf -file $(find slider_gui)/urdf/cylinder_green.urdf -wait cylinder_yellow_1 -model cylinder_green_1 -x 0.7 -y -0.05 -z 0.61" respawn="false" output="screen" />
-->

  <!-- parameters that give you reasonable physics as well as good speed -->
  <!-- needed so that gripper joint stops on objects instead of oscillating forever
  <node name="sor_pgs_iters" pkg="dynamic_reconfigure" type="dynparam" args="set gazebo sor_pgs_iters 50"/>
  <node name="sor_pgs_w" pkg="dynamic_reconfigure" type="dynparam" args="set gazebo sor_pgs_w 1.0"/>
  <node name="time_step" pkg="dynamic_reconfigure" type="dynparam" args="set gazebo time_step 0.001"/>
 -->
  <node name="kinect_imager_rate" pkg="dynamic_reconfigure" type="dynparam" args="set head_mount_kinect_rgb imager_rate 20"/>
  <node name="image_hack_listener" pkg="slider_gui" type="image_hack.py" />

  <!--
  <node name="move_pr2" pkg="pr2_gazebo" type="move_pr2"/>
  -->

</launch>
