<launch>
  <!-- set use_sim_time flag -->
  <param name="/use_sim_time" value="true" />

  <!-- start empty world -->
  <node name="empty_world_server" pkg="gazebo" type="gazebo" args="-u $(find slider_gui)/worlds/empty.world" respawn="false" output="screen"/>

  <!-- start gui -->
  <!--<node name="gazebo_gui" pkg="gazebo" type="gui" respawn="false" output="screen"/>-->

  <!-- start pr2 robot -->
  <include file="$(find pr2_gazebo)/pr2.launch"/>
</launch>
