<launch>
  <arg name="gui" default="true"/>

  <!-- set use_sim_time flag -->
  <param name="/use_sim_time" value="true" />

  <!-- start up empty world -->
  <include file="$(find slider_gui)/launch/empty_world_paused.launch">
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- start pr2 robot -->
  <include file="$(find pr2_gazebo)/launch/pr2.launch"/>
</launch>


