<launch>
  <include file="$(find slider_gui)/launch/state_check_service.launch"/>
  <node pkg="korg_nanokontrol" type="kontrol.py" name="kontrol" args="3">
    <remap from="joy" to="korg_joy"/>
  </node>
  <include file="$(find face_detector)/launch/face_detector_action.wide.launch"/>
  <node pkg="slider_gui" type="slider_simple.py" name="slider_simple">
    <remap from="ps3_joy" to="joy"/>
  </node>
  <rosparam command="load" file="$(find pr2_mannequin_mode)/pr2_arm_controllers_loose.yaml"/>
  <rosparam command="load" file="$(find pr2_mannequin_mode)/head_position_controller_loose.yaml"/>
</launch>
