<launch>
  <node pkg="korg_nanokontrol" type="kontrol.py" name="kontrol" args="3">
    <remap from="joy" to="korg_joy"/>
  </node>
  <include file="$(find face_detector)/launch/face_detector_action.wide.launch"/>
  <node pkg="slider_gui" type="slider_simple.py" name="slider_simple">
    <remap from="ps3_joy" to="joy"/>
  </node>
</launch>
