<launch>
  <include file="$(find slider_gui)/launch/pr2_table_simple_shapes.launch"/>
  <include file="$(find slider_gui)/launch/state_check_service.launch"/>
  <node pkg="korg_nanokontrol" type="kontrol.py" name="kontrol" args="3">
    <remap from="joy" to="korg_joy"/>
  </node>
  <!--<node pkg="ps3joy" type="ps3joy.py" launch-prefix="sudo" name="ps3joy"/>-->
  <node pkg="joy" type="joy_node" name="joy_node">
    <remap from="joy" to="ps3_joy"/>
  </node>
  <node pkg="slider_gui" type="slider_simple.py" name="slider_simple"/>
</launch>
