{% extends "base.html" %}

{% block content %}

<h5>Programs ready to run</h5>
<ul>
{% for p in programs %}
   <li><a href="/showProgram/{{ p.id }}/"><b>{{ p.programmer_name }}:</b> {{ p.program_name }}</a>
     <a href="/runProgram/{{ p.id }}/">RUN</a>
{% endfor %}
</ul>

<h5>All Programs</h5>
<ul>
  {% for p in allprograms %}
   <li><a href="/showProgram/{{ p.id }}/"><b>{{ p.programmer_name }}:</b> {{ p.program_name }}</a>
     <a href="/runProgram/{{ p.id }}/">RUN</a>
{% endfor %}
</ul>

<br>
<p><b><a href="/admin">Admin Interface</a></b>
{% endblock %}
