{% extends "base.html" %}

{% block content %}

<h5>Programs waiting to run</h5>
<ul>
{% for p in programs %}
   <li><a href="/showProgram/{{ p.id }}/">{{ p.id }} <b>{{ p.programmer_name }}:</b> {{ p.program_name }}</a>
{% endfor %}
</ul>

<h5>All Programs</h5>
<p>You can copy all or part of these programs and paste into your program.
<ul>
  {% for p in allprograms %}
   <li><a href="/showProgram/{{ p.id }}/">{{ p.id }} <b>{{ p.programmer_name }}:</b> {{ p.program_name }}</a>
     <a href="/output/{{ p.id }}/">Output</a>
     {% endfor %}
</ul>

{% endblock %}
