/*
	Description: Experimental Master Stylesheet
	Media: Screen
	Version: Jun 30 2009
	Author: Rodrigo Galindez
	Author URI: http://www.rodrigogalindez.com
*/

@import url(grid-1080.css);

/* ----------------------------------------------- [ * ] */

* {
	margin: 0;
	padding: 0;
}

/* -------------------------------- [ General Elements ] */

/* fix for scrollbar changing centered wrapper location */
html {
    min-height: 100%;
    margin-bottom: 1px;
    overflow-y: scroll;
}

body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 62.5%;
/*	background: transparent url(../images/grid-1080.gif) repeat-y top center; */
/*	background-color: #fff;*/
	color: #333;
}

hr {
	display: none;
}

img {
	vertical-align: middle;
}

h1 {
	margin-bottom: .3em;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 4.6em;
	line-height: .95em;
}

h2 {
	margin-bottom: 2.5em;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 3em;
	line-height: 1.3;
}

#header h2 {
	margin-bottom: 0;
}

h3 {
	margin-bottom: 1.5em;
	padding-left: 8px;
	padding-right: 8px;
}

h4 {
	margin-bottom: .8em;
	font-size: 1.3em;
	line-height: 1.6;
}

h5 {
	margin-bottom: 1em;
	padding-left: 8px;
	padding-right: 8px;	
	font-size: 1.2em;
	line-height: 1.6;
}

td {
      margin: 1em;
      border-collapse: collapse;
      padding:  .3em;
/*      border: 1px #ccc solid;         */
/*      background: #9cf; really? blue? */
}

p {
	margin-bottom: 1em;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 1.2em;
	line-height: 1.7;
}

a {
	text-decoration: underline;
	font-weight: bold;
	color: #000;
}

a:hover {
	color: #0F83DB;
}

acronym {
	border-bottom: 1px dotted #eee;
}

kbd {
	font-family: "Monaco", "Courier New", fixed;
	font-size: 1em;
	text-transform: uppercase;
}

#wrapper {
	margin: 0 auto;
	margin-top: 4em;
}

#header {
	margin: 0 0 1.2em 0;
	padding: 2.5em 0;
	border-bottom: 1px solid #111;
	border-top: 1px solid #111;
	color: #111;
}

#pages {
	margin: 0 0 .5em 0;
	padding: 0 8px;
	z-index: 0;
}

#pages ul ol {
	list-style-type: none;
}

#pages li {
	margin: 0 2.4em 0 0;
	font-size: 1.4em;
	line-height: 1.65;
	float: left;
}

#content {
	clear: both;
	overflow: hidden;
	width: 100%;
}

.post {
	margin: 0 0 0 0;
	padding: 1.3em 0 2em 0;
	border-top: 1px solid #ddd;
	overflow: hidden;
    display: block;
    width: 100%;
}

.summary-table {
	font-size: 1.3em;
	text-align: center;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

.summary-table td {
    border: 1px solid #ddd;
    border-collapse: collapse;
}

.cataloglink {
    text-decoration: none;
}

.post-meta {
	text-align: right;
}

.post-content h3 {
	margin-bottom: .4em;
	font-size: 2.4em;
	line-height: 1.3;
}

.post-content h5 {
	font-size: 1.7em;
	line-height: 1.2;
}

.post-content p {
	width: 43em;
}

.post-content div.half-size {
	width: 62em;
}

.post-content ul {
    padding-left: 32px;
}

.post-content ul ol {
	margin-bottom: 1em;
	padding: 0 8px;
}

.post-content li {
	margin-bottom: .5em;
	font-size: 1.4em;
	line-height: 1.65;
}

.side-button blockquote {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	float: left;
	font-size: 1.4em;
	vertical-align: middle;
}

.post-content blockquote {
	margin-left: -18.4em;
	margin-right: 2em;
	margin-top: 1em;
	margin-bottom: 2em;
	padding-top: 1.5em;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	float: left;
}

.post-content blockquote p:before, .post-content blockquote p:after {
	font-size: 1.6em;
	vertical-align: middle;
	content: '"';
}

.post-content blockquote p {
	width: 14em;
	margin-bottom: .8em;
	font-family: "Palatino", Georgia, "Times New Roman", serif;
	font-size: 1.6em;
	font-style: italic;
	line-height: 1.5;
	text-indent: -.6em;
}

.post-meta span {
	display: block;
	padding: 0 8px .3em 8px;
	font-size: 2.4em;
	line-height: 1.3;
	color: #111;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
	color: #111;
}

.post-meta ul ol {
	list-style-type: none;
}

.post-meta li {
	padding: .5em 8px;
	font-size: 1.3em;
	line-height: 1.5;
	border-bottom: 1px solid #ddd;
}

.post p {
	font-size: 1.4em;
	line-height: 1.65;
}

.section {
	margin: 0 0 4em 0;
}

.section ul ol {
	list-style-type: none;
}

.section li {
	padding: .5em 8px;
	font-size: 1.2em;
	line-height: 1.6;
	border-bottom: 1px solid #ddd;
}

.section h3, h4 {
	padding: 0 8px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
	font-size: 1.2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1.4;
}

.section h3 {
	margin-bottom: 1em;
	padding-bottom: .8em;
	border-bottom: 1px solid #ddd;
}

#about h3, #search h3 {
	margin-bottom: 1.4em;
}

#tags {
	padding: 0 8px;
}

#tags a {
	padding-right: .5em;
	font-size: 1.2em;
	line-height: 1.7;
}

.job-descriptions form {
    padding-left: 18px;
}

.job-descriptions form p {
    line-height: 1.0;
    margin-top: 10px;
    margin-bottom: 2px;
}

.job-descriptions input[type="text"] {
    width: 360px;
}

.job-descriptions input[type="submit"] {
    width: 80px;
}

.check-in input {
    width: 400px;
}

.check-in form {
    font-size: 12px;
}

.check-in form label {
    float: right;
    padding-right: 8px;
    font-size: 12px;
}

.check-in input[type="submit"] {
    margin-left: -100px;
    position: relative;
    left: 45%;
    width: 200px;
}

.information p, .information li {
    font-size: 14px;
}

.information ol {
    margin-left: 40px;
}

.information h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}

a.jobdesc {
    padding: 14px;
    margin: 8px -15px;
    border: #efefef 1px solid;
    text-decoration: none;
    font-weight: normal;
    display: block;
}

.jobdesc:hover {
    background: #efefef;
    color: #000;
}

a.addtocart {
    float: left;
    margin-left: -170px;
    margin-top: 40px;
}

a.backtocatalog {
    float: left;
    margin-left: -170px;
    margin-top: -45px;
}

a.submitbutton {
    margin-top: 20px;
    margin-left: 20px;
}

a.button {
    background: #666;
    color: #fff;
    padding: 10px;
    display: block;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    width: 140px;
    text-align: center;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

a.button:hover {
    color: #fff;
    background: #888;
}

.finalize a {
    text-decoration: none;
}

a.jobremove {
    font-weight: normal;
    text-decoration: none;
}

.finalize a.jobup, .finalize a.jobdown {
    font-size: 150%;
}

.finalize a.jobdown {
    padding-right: 5px;
}

.bottomjoblist {
    font-size: 11.5px;
}

.bottomjoblist li {
    padding: 3px;
}

span.amp {
	font-family: Baskerville, Georgia, "Times New Roman", sans-serif;
	font-style: italic;
	font-weight: normal;
	text-transform: lowercase;
	color: #999;
}

span.by {
	font-family: "Palatino", Georgia, "Times New Roman", serif;
	font-style: italic;
	text-transform: lowercase;
	color: #999;
}

img.centered {
	display: block;
	margin: 0 auto;
	margin-bottom: 1em;
}

p.meta {
	margin-bottom: 1em;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}

p.meta em {
	font-family: "Palatino", Georgia, "Times New Roman", serif;
	font-style: italic;
	text-transform: lowercase;
	font-weight: normal;
}

img.avatar {
	width: 60px;
	height: 68px;
	border: 6px solid #eee;
	margin-right: 12px;
	margin-bottom: 2px;
	float: left;
}

#twitter blockquote p {
	padding: 0;
	font-family: "Palatino", Georgia, "Times New Roman", serif;
	font-size: 1.4em;
	font-style: italic;
	line-height: 1.3;
	text-indent: -.6em;
}

#twitter blockquote p:before, #twitter blockquote p:after {
	font-size: 1.4em;
	vertical-align: middle;
	content: '"';
}

#footer {
	height: 3.4em;
	padding: 1.5em 0 0 0;
	margin-bottom: 2em;
	border-top: 1px solid #111;
	border-bottom: 1px solid #111;
	clear: both;
	overflow: hidden;
}

#footer p {
	margin-bottom: 0;
	font-size: 1.2em;
}

img.full-width {
	display: block;
	margin-left: -18.4em;
	margin-bottom: 2em;
}

p.full-width-caption {
	width: 11.2em;
	margin-left: -14.4em;
	font-size: 1.3em;
	font-style: italic;
	color: #999;
	float: left;
}

div.half-size p.caption {
	font-size: 1.3em;
	font-style: italic;
	text-align: center;
	color: #999;
}

p#foo {
	margin-top: .13em;
	font-size: 4.6em;
	font-weight: bold;
	color: #111;
	float: right;
}

p#foo em {
	font-family: "Palatino", Georgia, "Times New Roman", serif;
	font-style: italic;
	color: #999;
}

form {
	font-weight: bold;
}

input {
	font-weight: normal;
	width: 93%;
	padding: .4em;
	margin-bottom: .5em;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 1.2em;
}

form div div {
	margin-top: .4em;
	margin-left: 3em;
}

form textarea {
	margin-bottom: 1em;
}

.yesnobutton input {
	width: 1.5em;
}

.yesnobutton {
	clear: both;
	margin: 0;
	padding: .4em;
}

span.required,
#error li {
	color: #F00;
}

.span-9 {
	width: 100%;	
}

#calendar {
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
	position: relative;
	left: 4em;
}

#calendar th {
	border-width: 1px;
	padding: 5px;
	border-style: solid;
	border-color: gray;
	background-color: white;
}

#calendar td {
	border-width: 1px;
	padding: 5px;
	border-style: solid;
	border-color: gray;
	background-color: white;
	font-size: 1.4em;
}

#pages li {
	position:relative;
	top: 10px;
	margin-bottom:10px;
	display:inline-block;
	padding: 5px 15px 0px;
}

#pages a {
	text-decoration: none;
}

#pages #currentpage {
	padding-bottom: 1px;
	border: #000 solid 1px;
	border-bottom:none;
	margin-top: -1px;
	margin-bottom: -1px;
	background-color:#FFF;
	z-index:10;
}

#jobs td {
	width: 100px;
}

#jobs td p {
	width: 100%;
}

#studentname {
    float: right;
    font-size: 14px;
    font-weight: bold;
    margin-top: 18px;
    margin-right: 20px;
}
